{{!-- iterate the recipes and grab the data --}}


{{#each recipes}}
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{level}} : {{cook_time}}</h6>
    {{!-- <p class="card-text">{{url}}</p> --}}
    <a href="{{url}}" class="card-link">{{url}}</a>
  </div>
</div>
{{/each}} 

<a type="button" class="btn btn-default btn-info" href="/recipe/new">
    New Recipe
</a>