{{!-- iterate the recipes and grab the data --}}


{{#each recipes}}
<div class="card" style="width: 40rem;">
  <div class="card-body">
    <a href="/recipe/{{id}}" class="card-title">{{name}}</a>
    <h6 class="card-subtitle mb-2 text-muted">{{level}} : {{cook_time}}</h6>
    {{!-- <a href="{{url}}" class="card-link">{{url}}</a> --}}
  </div>
</div>
{{/each}} 

<a type="button" class="btn btn-default btn-info" href="/recipe/new">
    New Recipe
</a>